[submodule "pharos"]
	path = pharos
	url = https://github.com/cmu-sei/pharos
[submodule "DualGrounder"]
	path = DualGrounder
	url = https://github.com/edmcman/DualGrounder-UNO.git
[submodule "xclingo2"]
	path = xclingo2
	url = https://github.com/edmcman/xclingo2
